USE [BIBLIOTECA]
GO
/****** Object:  Table [dbo].[FORMATO]    Script Date: 08/27/2018 16:47:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FORMATO](
	[ID] [bigint] NOT NULL,
	[FORMATO] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[FORMATO] ([ID], [FORMATO]) VALUES (1, N'Físico tapa dura')
INSERT [dbo].[FORMATO] ([ID], [FORMATO]) VALUES (2, N'Físico tapa blanda')
INSERT [dbo].[FORMATO] ([ID], [FORMATO]) VALUES (3, N'Físico de bolsillo')
/****** Object:  Table [dbo].[CATEGORIA]    Script Date: 08/27/2018 16:47:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CATEGORIA](
	[ID] [bigint] NOT NULL,
	[CATEGORIA] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[CATEGORIA] ([ID], [CATEGORIA]) VALUES (1, N'INFORMATICA')
INSERT [dbo].[CATEGORIA] ([ID], [CATEGORIA]) VALUES (2, N'NOVELA')
INSERT [dbo].[CATEGORIA] ([ID], [CATEGORIA]) VALUES (3, N'TEATRO')
/****** Object:  Table [dbo].[AUTOR]    Script Date: 08/27/2018 16:47:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AUTOR](
	[ID] [int] NOT NULL,
	[APELLIDOS] [varchar](50) NOT NULL,
	[NOMBRES] [varchar](50) NOT NULL,
	[FECHANAC] [date] NOT NULL,
	[NACIONALIDAD] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[AUTOR] ([ID], [APELLIDOS], [NOMBRES], [FECHANAC], [NACIONALIDAD]) VALUES (1, N'King', N'Stephen', CAST(0x3E040B00 AS Date), N'1')
INSERT [dbo].[AUTOR] ([ID], [APELLIDOS], [NOMBRES], [FECHANAC], [NACIONALIDAD]) VALUES (2, N'Alighieri', N'Dante', CAST(0x6A0C0700 AS Date), N'1')
INSERT [dbo].[AUTOR] ([ID], [APELLIDOS], [NOMBRES], [FECHANAC], [NACIONALIDAD]) VALUES (3, N'Borges', N'Jorge Luis', CAST(0xF5940A00 AS Date), N'2')
/****** Object:  Table [dbo].[USUARIO]    Script Date: 08/27/2018 16:47:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[USUARIO](
	[ID] [bigint] NOT NULL,
	[APELLIDOS] [varchar](50) NOT NULL,
	[NOMBRES] [varchar](50) NOT NULL,
	[FECHAREGISTRO] [date] NOT NULL,
	[CLAVE] [varchar](8) NOT NULL,
	[MAIL] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[USUARIO] ([ID], [APELLIDOS], [NOMBRES], [FECHAREGISTRO], [CLAVE], [MAIL]) VALUES (1, N'Simon', N'Angel', CAST(0x07240B00 AS Date), N'1111', N'angel@utnfrgp.com')
INSERT [dbo].[USUARIO] ([ID], [APELLIDOS], [NOMBRES], [FECHAREGISTRO], [CLAVE], [MAIL]) VALUES (2, N'Gutierrez', N'Mariela', CAST(0x07240B00 AS Date), N'1111', N'mariela@utnfrgp.com')
INSERT [dbo].[USUARIO] ([ID], [APELLIDOS], [NOMBRES], [FECHAREGISTRO], [CLAVE], [MAIL]) VALUES (3, N'Velez', N'Pablo', CAST(0x07240B00 AS Date), N'1111', N'pablo@utnfrgp.com')
/****** Object:  Table [dbo].[REGISTRO]    Script Date: 08/27/2018 16:47:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REGISTRO](
	[ID] [bigint] NOT NULL,
	[IDUSUARIO] [bigint] NOT NULL,
	[ISBN] [bigint] NOT NULL,
	[FECHAADQUISICION] [date] NOT NULL,
	[PRECIOADQUISICION] [bigint] NOT NULL,
	[FECHAINICIOLECTURA] [date] NOT NULL,
	[FECHAFINLECTURA] [date] NOT NULL,
	[CALIFICACIONUSUARIO] [bigint] NOT NULL,
	[IDFORMATO] [bigint] NOT NULL,
	[CONDICIONLIBRO] [bigint] NOT NULL,
	[ESTADOLIBRO] [smallint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[REGISTRO] ([ID], [IDUSUARIO], [ISBN], [FECHAADQUISICION], [PRECIOADQUISICION], [FECHAINICIOLECTURA], [FECHAFINLECTURA], [CALIFICACIONUSUARIO], [IDFORMATO], [CONDICIONLIBRO], [ESTADOLIBRO]) VALUES (1, 1, 11111111, CAST(0xC13E0B00 AS Date), 50, CAST(0xC13E0B00 AS Date), CAST(0xC23E0B00 AS Date), 10, 1, 10, 0)
INSERT [dbo].[REGISTRO] ([ID], [IDUSUARIO], [ISBN], [FECHAADQUISICION], [PRECIOADQUISICION], [FECHAINICIOLECTURA], [FECHAFINLECTURA], [CALIFICACIONUSUARIO], [IDFORMATO], [CONDICIONLIBRO], [ESTADOLIBRO]) VALUES (2, 2, 22222222, CAST(0xC13E0B00 AS Date), 50, CAST(0xC13E0B00 AS Date), CAST(0xC23E0B00 AS Date), 10, 1, 10, 0)
INSERT [dbo].[REGISTRO] ([ID], [IDUSUARIO], [ISBN], [FECHAADQUISICION], [PRECIOADQUISICION], [FECHAINICIOLECTURA], [FECHAFINLECTURA], [CALIFICACIONUSUARIO], [IDFORMATO], [CONDICIONLIBRO], [ESTADOLIBRO]) VALUES (3, 2, 33333333, CAST(0xC13E0B00 AS Date), 50, CAST(0xC13E0B00 AS Date), CAST(0xC23E0B00 AS Date), 10, 1, 10, 0)
/****** Object:  Table [dbo].[LIBRO]    Script Date: 08/27/2018 16:47:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LIBRO](
	[ID] [smallint] NOT NULL,
	[ISBN] [bigint] NOT NULL,
	[ANIOPUBLICACION] [date] NOT NULL,
	[CANTPAGINAS] [int] NOT NULL,
	[IDAUTOR] [int] NOT NULL,
	[TITULO] [varchar](50) NOT NULL,
	[IDCATEGORIA] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[LIBRO] ([ID], [ISBN], [ANIOPUBLICACION], [CANTPAGINAS], [IDAUTOR], [TITULO], [IDCATEGORIA]) VALUES (1, 11111111, CAST(0x9A220B00 AS Date), 1000, 1, N'IT', 1)
INSERT [dbo].[LIBRO] ([ID], [ISBN], [ANIOPUBLICACION], [CANTPAGINAS], [IDAUTOR], [TITULO], [IDCATEGORIA]) VALUES (2, 11111111, CAST(0x9A220B00 AS Date), 1000, 2, N'LA DIVINA COMEDIA', 2)
INSERT [dbo].[LIBRO] ([ID], [ISBN], [ANIOPUBLICACION], [CANTPAGINAS], [IDAUTOR], [TITULO], [IDCATEGORIA]) VALUES (3, 33333333, CAST(0xB9330B00 AS Date), 1000, 8, N'Ready Player One', 2)
/****** Object:  ForeignKey [FK__LIBRO__IDAUTOR__1BFD2C07]    Script Date: 08/27/2018 16:47:42 ******/
ALTER TABLE [dbo].[LIBRO]  WITH CHECK ADD FOREIGN KEY([IDAUTOR])
REFERENCES [dbo].[AUTOR] ([ID])
GO
/****** Object:  ForeignKey [FK__LIBRO__IDCATEGOR__1CF15040]    Script Date: 08/27/2018 16:47:42 ******/
ALTER TABLE [dbo].[LIBRO]  WITH CHECK ADD FOREIGN KEY([IDCATEGORIA])
REFERENCES [dbo].[CATEGORIA] ([ID])
GO
/****** Object:  ForeignKey [FK__REGISTRO__IDFORM__276EDEB3]    Script Date: 08/27/2018 16:47:42 ******/
ALTER TABLE [dbo].[REGISTRO]  WITH CHECK ADD FOREIGN KEY([IDFORMATO])
REFERENCES [dbo].[FORMATO] ([ID])
GO
